<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>智能门锁</title>
<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<style>
.page-header{
		padding-top: 20px;
	}
	body{
		position: relative;
	}
	.near{
		position: fixed;
		padding-top: 200px;
	}
	</style>
   

<body data-spy="scroll" data-target="#mynav" data-offset="150">
	
<div class="container">
   
	<h1 class="page-header">智能门锁系统 <small>制作团队：IPC11第九组全体成员</small></h1>	
<nav class="navbar navbar-inverse navbar-fixed-top" id="mynav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#">智能门锁系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" >
	<ul class="nav navbar-nav">
	<li class="active"><a href="#1">研究背景介绍</a></li>	
	<li><a href="#2">国内外研究现状</a></li>
	<li><a href="#3">智能门锁介绍</a></li>
	<li><a href="#4">视频演示</a></li>
	<li><a href="#5">门锁远程控制</a></li>
	</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
	<div class="carousel slide" id="mycarousel" data-ride="carousel">
	<div class="carousel-inner">

	<div class="item active">
	<img src="picture/a1.jpg" width="100%" height="300px" alt="">	
	<div class="carousel-caption"><h1>刷卡!</h1></div>
	</div>
		<div class="item ">
	<img src="picture/a2.jpg" width="100%" height="300px" alt="">	
	<div class="carousel-caption"><h1>指纹!</h1></div>
	</div>
		<div class="item ">
	<img src="picture/a3.jpg" width="100%" height="300px" alt="">	
	<div class="carousel-caption"><h1>远程控制!</h1></div>
	</div>
	</div>
	<ol class="carousel-indicators">
	<li data-target="#mycarousel" data-slide-to="0" class="active" ></li>
	<li data-target="#mycarousel" data-slide-to="1" class="" ></li>
	<li data-target="#mycarousel" data-slide-to="2" class="" ></li>
	</ol>
	
	<a href="#mycarousel" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a href="#mycarousel" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
	
	<div class="panel panel-info">
	<div class="panel-heading">
	<div class="panel-title">
	<h1 id="1">研究背景介绍</h1>	
	</div>
	</div>	
		
	<div class="panel-body">
		<img src="picture/a7.jpg" width="100%" alt="">
		<p style="font-size: 20px;"> &nbsp;&nbsp; 随着商业大厦、智慧社区的规模化发展，越来越多的出入口控制场所选择部署智能门禁控制管理系统，以期实现高效率、高安全的通行权限管理。但来来往往的人员中，既包括了大量的内部业主、内部员工、商户等，又包括了众多顾客、访客等，使人员出入口控制管理工作出现管理维度高、管理对象繁杂、安全隐患多、管理人员工作量大、技术素质要求高等新问题。随着我国移动互联网创新技术浪潮的不断推动，传统意义上属于偏硬件、重应用的门禁控制管理行业正掀起革新的浪潮。</p>
	</div>
	
	<div class="panel-footer">
		<p style="font-size: 20px;">以智能手机为核心载体，辅以蓝牙、二维码、视频流人脸识别、APP、微信等创新技术的门禁系统正逐步成熟，呈现出蓬勃的发展态势。</p>
	</div>
	</div>
	
		<div class="panel panel-warning">
	<div class="panel-heading">
	<div class="panel-title">
	<h1 id="2">国内外研究现状</h1>	
	</div>
	</div>
	
	<div class="panel-body">
		<img src="picture/a8.jpg" width="100%" alt="">
		<p style="font-size: 20px;">  &nbsp;&nbsp;目前国外生产的门禁系统安全性较高，但是价格昂贵，感应式门禁系统控制器的价格从4000到3万元不等，包括读卡器、门锁、控制器、软件在内的一套系统报价在万元上。国外门禁系统的使用比国内起步早，在使用的普及度上也比国内高。国外对卡的应用也比较早，卡的发展带动了门禁系统的发展，形成了大批量的生产厂家。欧美门禁市场已开始进入IC卡门禁系统成熟阶段，产业已开始细分，出现了只生产IC卡和读卡器的公司。随着市场的不断成熟，各大公司因技术和专业人员的积累，开始出现了垄断势头。顺应当代科学技术的发展以及人们对门禁系统的需求，国外当前主流的门禁系统很多都开始提供TCP/IP网络作为系统的连接方式。由于多年的经验和技术上的积累，国外的门禁系统设计和生产厂商所推出的产品在系统的稳定性和兼容性上比国内的产品更具有优势。</p>
	</div>
	
	<div class="panel-footer">
		<p style="font-size: 20px;">虽然这些产品功能繁多，性能良好，但价格普遍较高，操作复杂。</p>
	</div>
	</div>
	
		<div class="panel panel-danger">
	<div class="panel-heading">
	<div class="panel-title">
	<h1 id="3">智能门锁介绍</h1>	
	</div>
	</div>
	
	<div class="panel-body">
	<img src="picture/a4.jpg" width="100%" alt="">
		<p style="font-size: 20px;"> &nbsp;&nbsp;本项目围绕智能门禁系统，实现多种智能方式开门，其中包括刷卡、指纹、手机APP开门。刷卡开门主要运用的是非接触式IC卡，当持卡人刷卡进入时，控制器首先接收从读卡器读出的IC卡信息，与单片机上的信息进行比对，若信息符合则开门，反之返回错误信息；指纹解锁的前提是用户首先录入指纹，在此后的指纹解锁中只有识别为用户指纹的才解锁，当用户解锁的时候，指纹处理器模块进行指纹比对，若和已录入的指纹匹配则开门。手机APP开门主要是借助于Onenet平台，通过开关按钮，当按下ON时开门，按下OFF则关门。</p>
	</div>
	
	<div class="panel-footer">
		<p style="font-size: 20px;">刷卡和指纹模块直接控制，远程控制如下</p>
	</div>
	</div>
	
		<div class="panel panel-danger">
	<div class="panel-heading">
	<div class="panel-title">
	<h1 id="4">视频展示</h1>	
	</div>
	</div>
	
	<div class="panel-body">
<!--		<video style="width: 100%;" src="\picture\2.mp4" controls="controls">
your browser does not support the video tag
</video>-->
<embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=t0714gllqs6&auto=0" allowFullScreen="true" quality="high" width="100%" height="800px" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash">
		
		
	</div>
	
	<div class="panel-footer">
		<p style="font-size: 20px;">可以通过刷卡，指纹进行直接控制开门，也可通过远程控制开门</p>
	</div>
	</div>
	
		<div class="panel panel-primary">
	<div class="panel-heading">
	<div class="panel-title">
	<h1 id="5">远程控制</h1>	
	</div>
	</div>
	
	<div class="panel-body">
		<div class="j_10086_iotapp" data-host="https://open.iot.10086.cn" data-view="af4ccd4768661cf613cfae0f220b01f3" data-pid="149303" data-appid="42198" style="height:1000px;width:1120px;"></div>
	</div>
	</div>
	</div>
	
	
	



	
</body>
	<script>
	(function () {
    function createApp(dom, id, is_model, device_id) {
        var width = dom.clientWidth;
        var height = dom.clientHeight;
        var iframe = document.createElement('iframe');
        iframe.style.width = width + 'px';
        iframe.style.height = height + 'px';
        iframe.style.border = '0 none';
        iframe.setAttribute('frameBorder', '0');
        var src = 'https://open.iot.10086.cn/appview/p/' + id;
        if (Boolean(Number(is_model))) src += '&is_model=1&device_id=' + device_id;
        iframe.setAttribute('src', src);
        dom.appendChild(iframe);
    }

    function createApp2(dom, host, openId, is_model, device_id) {
        var width = dom.clientWidth;
        var height = dom.clientHeight;
        var iframe = document.createElement('iframe');
        iframe.style.width = width + 'px';
        iframe.style.height = height + 'px';
        iframe.style.border = '0 none';
        iframe.setAttribute('frameBorder', '0');
        var src = (host || 'https://open.iot.10086.cn') + '/app/browse2?openid=' + openId;
        if (Boolean(Number(is_model))) src += '&is_model=1&device_id=' + device_id;
        iframe.setAttribute('src', src);
        dom.appendChild(iframe);
    }

    var appDomList = document.querySelectorAll('.j_10086_iotapp');
    for (var i = 0; i < appDomList.length; i++) {
        var dom = appDomList[i];
        // createApp(dom, dom.getAttribute('data-view'), dom.getAttribute('data-is-model'), dom.getAttribute('data-device-id'));
        createApp2(dom, dom.getAttribute('data-host'), dom.getAttribute('data-view'), dom.getAttribute('data-is-model'), dom.getAttribute('data-device-id'));
    }
})();
	</script>
	
</html>